body{

font-family:Arial;

text-align:center;

background:#f4f4f4;

}

.card{

border:1px solid gray;

padding:10px;

margin:10px;

background:white;

display:inline-block;

width:200px;

}

button{

padding:8px;

cursor:pointer;

}
